.crd{
    background-image:url(../../assets/img/food.jpg) ;
    height: 535px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.card{
    position: absolute;
    border: none;
    width: 500px;
    height: auto;
    box-sizing: border-box;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(9, 38, 1, 0.5);

}
.text-center h1 ,h6{
   color: #fff;
}
.form-group label{
    color: #fff;
   padding: .8rem;
}
.form-control{
    width: 55vh;
    height: 40px;
}
.btn{
    margin-top: 1.5rem;
    margin-left: 10rem;
    height: 5vh;
    width: 100px;
    background:rgb(1, 1, 111);
   
}
.btn:hover{
    background-color: blue;
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width:1024px) { 
    .crd{
        width: 100%;
        height: 86vh;
        background-size: cover;
    }
    .card{
        left: 48%;
        top: 55%;
    }
    .form-control{
        width: 36vh;
    }
    
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width:767px) { 

    .crd{
        width: 675px;
        height: 138vh;
        
    }
    .card{
        left: 84%;
        top: 75%;
    }
    .form-control{
        width: 45vh;
    }
}