 <div class="container ">
    <div class="cdr"> 
         <a routerLink="../" class="btn btn-sm btn-dark mb-3"> <i class="bi bi-caret-left-fill"></i></a> 
         <div class="col-6  card pawan">
            <h1>About Us </h1>
            <h5 >Dear Customer,</h5>
            <p>Welcome at our Restaurant , Order Delicious Dishes And Make Your family Happy !!!!!!<br>
              Digital technology is transforming business in many sectors, including restaurant systems and service processes.
              Customers may recognize the replacement of paper-based menus with digital ones as a first step of this process.  </p>
              <button class="buybtn" routerLink="../menu" >Order Here  &nbsp;<i class="bi bi-bag"></i></button>
          </div>
          

     </div>
     



    <div class="card mb-5 crd1 ">
    <div class="row">
        <div class="col-6 us">
            <h5 >Dear Customer,</h5>
            <p>Welcome at our Restaurant , Order Delicious Dishes And Make Your family Happy !!!!!!<br>
              Digital technology is transforming business in many sectors, including restaurant systems and service processes.
              Customers may recognize the replacement of paper-based menus with digital ones as a first step of this process.  </p>
              
          </div>
     
          <div class="col-6 us">
              <h1>About Us </h1>
              <h2>dear customer</h2> 
              <img src="../../../assets/img/chines.jpg"/>
          </div>
        
          <div class="row">
              <div class="col-6 food">
                  <img src="../../../assets/img/food1.jpg">
              </div>
              <div class="col-6 food">
                <p>In Our Restaurant All type Of Food /Dishes Are Available, for example Fast Food ,Vege ,Non-Vege,chieniese etc.
                    When You Are Come Onces In Our Restaurant And Ate Delicious Food Then You Will Come Again and Again. 
                    <br><br> Food Ordering System means it an Applications which will help restaurant to optimized and control over their restaurants.
                        Through this website user can do a lot of things from anywhere from home,from office ,from train and many more places </p>
                        </div>
          </div>
       
    </div>
</div>

<div class="container">
    <div class="card mb-5 crd2">
      <div class="row ">
        <div class="col-md-12 think">
                <img src="../../../assets/img/How we think.png">
                
                 </div>
                </div>             
        <div class="row think1">
            <div class="col-lg-4 col-md-4 ">
                <img src="../../../assets/img/1.png">
                <h4>Consumer Comes First</h4>
                <p>* We are paranoid about consumer experience and measure success by consumer impact.<br>
                   * from their needs.<br>
                   * We spend time listening to and deeply understanding our consumers’ needs.
                </p>
           
            </div>
            <div class="col-lg-4 col-md-4 ">
                <img src="../../../assets/img/2.png">
                <h4>Display a Founder Mentality</h4>
                <p>* We take a long-term view of success and resist shortcuts.<br>
                   * We are solution-oriented, not problem-oriented</p>
            </div>
            <div class="col-lg-4 col-md-4">
               <img src="../../../assets/img/3.png">
                <h4>Think Win-Win</h4>
                <p> * We acknowledge that success isn't zero-sum and look for means by which our partners - whether delivery partners or vendors, can be successful with us.<br>
                    * We solve problems by understanding each other's perspectives and then proposing win-win solutions</p>
           
            </div>
        </div>
    </div>
</div> 